<div class="container-fluid">
  <div class="row">
    <h3 style="text-align: center">Danh sách dịch vụ</h3>
    <div class="col-lg-4" style="border: #1a1e21" *ngFor="let facility of facilityList; index as i">
      <div class="card">
        <img class=" card-img-top"
             [src]="facility.image">
        <div class="card-body" style="text-align: center">
            <h6 class="card-text text-center">{{facility.name}}</h6>
          <label class="form-label">Diện tích </label>
            <span style="text-align: center">{{facility.area}} m<sup>2</sup></span>
          <br>
          <label class="form-label">Giá: </label>
            <span style="text-align: center">{{facility.cost}}</span>
        </div>
        <span style="text-align: center">
          <button [routerLink]="['/facility/update', facility.id]">Update</button>
          <button [routerLink]="['/facility/detail', facility.id]">Detail</button>
          <button [routerLink]="['/facility/delete', facility.id]">Delete</button>
        </span>
      </div>
    </div>
  </div>
</div>
