<section class="about_area section_gap background">
  <H2 style="text-align: center">Customer List</H2>
  <th><button>Create New Customer</button></th>
  <div>
    <table class="table table-success table-striped">
      <tr style="text-align: center">
        <th>#</th>
        <th>Type</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Id number</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr style="text-align: center">
        <th>1</th>
        <th>Vip</th>
        <th>Quốc Thái</th>
        <th>22/12/1994</th>
        <th>Nam</th>
        <th>321823912</th>
        <th>0906777888</th>
        <th>thai@gmail.com</th>
        <th>Đà Nẵng</th>
        <th><button>Edit</button></th>
        <th><button>Delete</button></th>
      </tr>
      <tr style="text-align: center">
        <th>2</th>
        <th>Vip</th>
        <th>Quốc Minh</th>
        <th>21/2/1991</th>
        <th>Nam</th>
        <th>325532912</th>
        <th>0905333888</th>
        <th>minh@gmail.com</th>
        <th>Quy Nhơn</th>
        <th><button>Edit</button></th>
        <th><button>Delete</button></th>
      </tr>
      <tr style="text-align: center">
        <th>3</th>
        <th>Vip</th>
        <th>Minh Tâm</th>
        <th>12/1/1998</th>
        <th>Nam</th>
        <th>443823912</th>
        <th>0906555222</th>
        <th>tam@gmail.com</th>
        <th>Đà Nẵng</th>
        <th><button>Edit</button></th>
        <th><button>Delete</button></th>
      </tr>
    </table>
  </div>

