<div class="container w-50 mt-4 p-2 mb-4" style="border: 1px solid grey; border-radius: 15px; text-align: center">
  <h3 align="center" class="text-info">Xóa sản phẩm</h3>
  <form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" readonly formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" readonly formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" readonly formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" readonly formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoá</button></td>
    </tr>
  </table>
</form>
</div>
