<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
        </div>
        <div class="card-body">
          <h3 class="card-title text-center text-danger">Cập nhật sản phẩm</h3>
          <form class="form-signin" [formGroup]="productForm" *ngIf="productForm" (ngSubmit)="submit(id)" >
            <div class="form-label-group">
              <label for="name">Tên sản phẩm</label>
              <input type="text" id="name" class="form-control"
                     formControlName="name">
            </div>
            <div class="form-label-group">
              <label for="price">Giá sản phẩm</label>
              <input type="text" id="price" class="form-control"  formControlName="price">
            </div>
            <div class="form-label-group">
              <label for="description">Mô tả sản phẩm</label>
              <input type="text" id="description" class="form-control"  formControlName="description">
            </div>
            <div class="form-label-group">
              <label for="category">Thể loại</label>
              <select  id="category" formControlName="category" class="form-select" >
                <option *ngFor="let c of category" [ngValue]="c">{{c.name}}</option>
              </select>

            </div>

            <br>
            <div class="text-center">
              <button class="btn btn-primary " >Lưu thay đổi</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
