<!--Angular Overview bài thực hành 1-->
<!--<app-font-size-editor></app-font-size-editor>-->

<!--Angular Overview bài thực hành 2-->
<!--<app-angular-show-pet-info></app-angular-show-pet-info>-->

<!--Angular Overview bài thực hành 3-->
<!--<app-angular-product-list></app-angular-product-list>-->

<!--Angular Overview bài tập máy tính-->
<!--<app-calculator></app-calculator>-->

<!--Angular Overview bài tập color picker-->
<!--<app-color></app-color>-->

<!--Angular Component & Template [Thực hành-Bài tập] Tạo ứng dụng Hackernews-->
<!--<app-navbar></app-navbar>-->
<!--<app-article></app-article>-->
<!--<app-footer></app-footer>-->

<!--5. Components Interaction-->
<!--[Thực hành] Ứng dụng Name-Card-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->

<!--[Thực hành] Ứng dụng Progress Bar-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->
<!--Bài tập rating bar-->
<!--<app-rating-bar></app-rating-bar>-->
<!--Bài tập count down-->
<!--<app-countdown-timer></app-countdown-timer>-->


<!--ANGULAR FORM-->
<!--Angular Form [Thực hành] Tạo ứng dụng todo-->
<!--<app-todo></app-todo>-->

<!--Angular Form [Bài tập] Tạo form đăng ký-->
<!--<app-register></app-register>-->

<!--Angular Form [Bài tập] Tạo form đăng nhập-->
<app-login></app-login>
