
<div class="container w-50 mt-4 p-2 mb-4" style="border: 1px solid grey; border-radius: 15px">
  <h3 align="center" class="text-info">Thông tin sản phẩm</h3>
  <div style="text-align: center">
    <div class="col-md-12">
      <label class="form-label">Mã sản phẩm: </label>
      <span> {{product.id}}</span>
    </div>
    <div class="col-md-12">
      <label class="form-label">Tên sản phẩm: </label>
      <span> {{product.name}}</span>
    </div>
    <div class="col-md-12">
      <label class="form-label">Giá sản phẩm: </label>
      <span> {{product.price}}</span>

    </div>
    <div class="col-md-12">
      <label class="form-label">Mô tả: </label>
      <span> {{product.description}}</span>
    </div>
  </div>
</div>
