<div>
  <h1>Danh sách sản phẩm</h1>
  <a routerLink="/product/create">Tạo mới sản phẩm</a>
  <table class="table table-success table-striped">
    <thead>
    <tr>
      <td>STT</td>
      <td>Tên</td>
      <td>Giá</td>
      <td>Mô tả</td>
      <td>Loại</td>
      <td>Chi Tiết</td>
      <td>Sửa</td>
      <td>Xóa</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; index as i">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.category.name}}</td>
      <td>
        <button class="btn btn-outline-danger btn-sm">
          <a [routerLink]="['/product/detail',product.id]">Detail</a>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger btn-sm">
          <a [routerLink]="['/product/update',product.id]">Edit</a>
        </button>
      </td>
      <!-- Button trigger modal -->
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#modalId" (click)="productDelete(product.id, product.name)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-trash3" viewBox="0 0 16 16">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5
              1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0
              1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0
              1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0
              1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5
              0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="modalId" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelAddNew">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          Do you want delete customer: <strong>{{nameModal}}</strong> ?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
        </button>
        <button (click)="deleteProduct()" class="btn btn-danger" data-bs-dismiss="modal">delete</button>
      </div>
    </div>
  </div>
</div>
