<div class="regform"><h1>Create Facility</h1></div>
<div class="main">
  <form [formGroup]="facilityForm" (ngSubmit)="createFacility()" *ngIf="facilityForm">
    <div>
      <h2 class="name">Name Facility</h2>
      <input class="company" type="text" formControlName="name"><br>
    </div>

    <div>
      <h2 class="name">Area</h2>
      <input class="company" type="text" formControlName="area"><br>
    </div>

    <div>
      <h2 class="name">Cost</h2>
      <input class="company" type="text" formControlName="cost"><br>
    </div>

    <div>
      <h2 class="name">Max People</h2>
      <input class="company" type="text" formControlName="maxPeople"><br>
    </div>

    <div>
      <h2 class="name">Image</h2>
      <input class="company" type="text" formControlName="image"><br>
    </div>

    <div>
      <h2 class="name">Ren Type</h2>
      <select class="option" formControlName="rentType">
        <option *ngFor="let temp of rentTypeList" [ngValue]="temp">{{temp.name}}</option>
      </select>
    </div>

    <div>
      <h2 class="name">Facility Type</h2>
      <select id="choiceFacilityType" class="option" (change)="selectFacility()" formControlName="facilityType">
        <option *ngFor="let fac of facilityTypeList" [ngValue]="fac">{{fac.name}}</option>
      </select>
    </div>

    <div id="standardRoom" style="display: none">
      <h2 class="name">Standard Room</h2>
      <input class="company" type="text" formControlName="standardRoom"><br>
    </div>

    <div id="poolArea" style="display: none" >
      <h2 class="name">Pool Area</h2>
      <input class="company" type="text" formControlName="poolArea"><br>
    </div>

    <div id="descriptionConvenience" style="display: none" >
      <h2 class="name" >Description Other</h2>
      <input class="company" type="text" formControlName="descriptionOther"><br>
    </div>

    <div id="numberOfFloor" style="display: none">
      <h2 class="name" >Number Of Floors</h2>
      <input class="company" type="text" formControlName="numberFloor"><br>
    </div>

    <div id="facilityFree" style="display: none">
      <h2 class="name">Facility Free</h2>
      <input class="company" type="text" formControlName="facilityFree"><br>
    </div>

    <div id="back">
      <button type="submit">Save</button>
      <a class="back-home" routerLink="/facility/list">Back</a>
    </div>
  </form>

</div>
